.header{
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0px;
    height: 0px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(214,211,214,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(214,211,214,1);
    box-shadow: 0px 0px 8px 0px rgba(214,211,214,1);
    z-index: 1000;
}
.user-menu{
    padding:0px;
    margin: 0px;
    margin-top: 10px;
}
.user-menu  li{
    display: inline-block;
}
.user-menu  li a{
    cursor: pointer;
    padding: 5px 13px;
    display: block;
}