
<div class="container-fluid">
    <div class="row">
        <div class="col pl-0 pt-2 pb-2">
            <h5 class="page-titel">Product List</h5>
        </div>
        <div class="col pr-0 pt-2 pb-2 text-right">
            <button type="button" routerLink="/product/add" class="btn btn-primary btn-sm">Add Product</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 white-bg p-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Price</th>
                        <th scope="col">Dicripaton</th>
                        <th scope="col">Imges</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productList">
                        <td>{{item._id}}</td>
                        <td>{{item.product_name}}</td>
                        <td>{{item.product_code}}</td>
                        <td>{{item.product_price}}</td>
                        <td>{{item.product_dicripaton}}</td>
                        <td><img width="40" height="40" src="{{item.product_imges}}"></td>
                        <td>{{item.updated_at}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" [routerLink]="['/product/edit', item._id]">Edit</button>
                            <button class="btn btn-danger btn-sm ml-3" (click)="deleteContact(item._id)">Delete</button>
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>